# Node ID(パケットがループすることを回避するために各ノードで一意の値にしてください(0~32767))
NODE_ID=150

# Database
TIMESCALE_DB_HOST=ssh.aida0710.work
TIMESCALE_DB_USER=rdb-tunnel
TIMESCALE_DB_PORT=5432
TIMESCALE_DB_PASSWORD=maron710
TIMESCALE_DB_DATABASE=packet_db

# Use Docker
DOCKER_MODE=true
DOCKER_INTERFACE_NAME=eth0

# TapDevice Setting
USE_TAP_INTERFACE=true
TAP_INTERFACE_NAME=tap0
TAP_IP=192.168.0.150
TAP_MASK=24

# IPDS Setting
# 検知のみ行いたい場合: IDS_ENABLED=true, IPS_ENABLED=false
# 検知して防止も行う場合: IDS_ENABLED=true, IPS_ENABLED=true
# 完全に無効にする場合: IDS_ENABLED=false
IDS_ENABLED=true
IPS_ENABLED=true

# Logging Setting
NORMAL_LOGGER_FILE=./logs/system.log
IDPS_LOGGER_FILE=./logs/idps.log
# all(どちらも有効化), file(ファイルにのみ出力), console(コンソールにのみ出力), none(どちらもなし)
IDPS_LOG_MODE=all
