# Database
TIMESCALE_DB_HOST=localhost
TIMESCALE_DB_USER=user
TIMESCALE_DB_PORT=5432
TIMESCALE_DB_PASSWORD=password
TIMESCALE_DB_DATABASE=database

# Use Docker
DOCKER_MODE=false
DOCKER_INTERFACE_NAME=eth0

# TapDevice
TAP_INTERFACE_NAME=tap0
TAP_IP=192.168.0.150
TAP_MASK=24